body{
	margin: 0px;
	padding: 0px;
}
.cc{
   height: 100px;
   background-color: blue;
   margin:0px;


}
.aa{ 
	
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: red;
	height: 200px;
	margin:0px;
	
	
}
.bb{
	background-color: green;
	height: 200px;
	margin-left: 200px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;


}
	